     <h1>Navigation</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae rem ab commodi sunt soluta laboriosam magnam praesentium necessitatibus repellendus. Nisi necessitatibus culpa sint delectus voluptas sunt! Vitae inventore aperiam nam?</p>
     <h1>footer</h1>